In [1]:
import pandas as pd

# Load your cleaned data
df = pd.read_csv('titanic_cleaned.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
3,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
4,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,Q

In [2]:
df.mean(numeric_only=True)

PassengerId    447.883008
Survived         0.334262
Pclass           2.512535
Age             28.079387
SibSp            0.413649
Parch            0.317549
Fare            17.193204
dtype: float64

In [3]:
df.median(numeric_only=True)

PassengerId    447.50
Survived         0.00
Pclass           3.00
Age             28.00
SibSp            0.00
Parch            0.00
Fare            11.75
dtype: float64

In [4]:
df.mode(numeric_only=True).iloc[0]

PassengerId     1.00
Survived        0.00
Pclass          3.00
Age            28.00
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 0, dtype: float64

In [5]:
df.std(numeric_only=True)

PassengerId    259.549777
Survived         0.472061
Pclass           0.715818
Age             10.012369
SibSp            0.855001
Parch            0.784792
Fare            13.244507
dtype: float64

In [6]:
summary = pd.DataFrame({
    'Mean': df.mean(numeric_only=True),
    'Median': df.median(numeric_only=True),
    'Mode': df.mode(numeric_only=True).iloc[0],
    'Standard Deviation': df.std(numeric_only=True)
})

summary

                   Mean  Median   Mode  Standard Deviation
PassengerId  447.883008  447.50   1.00          259.549777
Survived       0.334262    0.00   0.00            0.472061
Pclass         2.512535    3.00   3.00            0.715818
Age           28.079387   28.00  28.00           10.012369
SibSp          0.413649    0.00   0.00            0.855001
Parch          0.317549    0.00   0.00            0.784792
Fare          17.193204   11.75   8.05           13.244507

In [7]:
summary.to_csv('summary_statistics.csv')